<% prof_list = ['Student',
                'Teacher',
                'Actor',
                'Clergy',
                'Musician',
                'Philosopher',
                'Visual Artist',
                'Writer',
                'Audiologist',
                'Chiropractor',
                'Dentist',
                'Dietitian',
                'Doctor',
                'Medical Laboratory Scientist',
                'Midwive',
                'Nurse',
                'Occupational Therapist',
                'Optometrist',
                'Pathologist',
                'Pharmacist',
                'Physical Therapist',
                'Physician',
                'Psychologist',
                'Speech-Language Pathologist',
                'Accountant',
                'Actuary',
                'Agriculturist',
                'Architect',
                'Economist',
                'Consultant',
                'Manager',
                'Engineer',
                'Interpreter',
                'Attorney',
                'Advocate',
                'Solicitor',
                'Librarian',
                'Statistician',
                'Surveyor',
                'Urban Planner',
                'Firefighter',
                'Judge',
                'Military',
                'Police',
                'Air Traffic Controller',
                'Aircraft Pilots',
                'Sea Captain',
                'Scientist',
                'Astronomer',
                'Biologist',
                'Botanist',
                'Ecologist',
                'Geneticist',
                'Immunologist',
                'Pharmacologist',
                'Virologist',
                'Zoologist',
                'Chemist',
                'Geologist',
                'Meteorologist',
                'Oceanographer',
                'Physicist',
                'Programmer',
                'Web Developer',
                'Product Designer',
                'Graphic Designer',
                'Web Designer',
                'Other'].sort %>

<div class="form-main form-main-deskwrap">

  <%= link_to root_path do %>
    <%= image_tag "logo-triangle-white.png", size: "64x54" %>
  <% end %>

  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%#= f.error_notification %>

    <div class="form-inputs">

      <div class="inputs-left">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first_name" }%>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last_name" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <div class="radio-buttons">
        <%= f.collection_radio_buttons :gender,
                                      [['Female', 'Female'] ,['Male', 'Male']],
                                      :first,
                                      :last,
                                      required: true,
                                      autofocus: true,
                                      input_html: { autocomplete: "gender" }%>
        </div>
      </div>

      <div class="inputs-right">
        <%= f.input :photo,
                    required: false,
                    input_html: { autocomplete: "photo" } %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :birthdate,
                    required: true,
                    as: :string,
                    input_html: { autocomplete: "birthdate", class: "date-picker"} %>
        <%= f.input :location,
                    label: "Country",
                    as: :country,
                    required: true,
                    input_html: { autocomplete: "location" } %>
        <%= f.input :profession, collection: prof_list,
                    tooltip: "Select your profession",
                    required: true,
                    input_html: { autocomplete: "profession" } %>
        <%= f.input :hobbies,
                    hint: "e.g. Football, Cinema, Travel",
                    required: false,
                    input_html: { autocomplete: "hobbies" } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

  <div class="dev-links">
    <%= render "devise/shared/links" %>
  </div>

</div>
