<% searcheable_actions = ['index', 'loved', 'funny', 'interesting', 'sponsored', 'fresh', 'manage', 'answered', 'friend'] %>
<% outer_actions = ['index', 'loved', 'funny', 'interesting', 'sponsored', 'fresh'] %>

<!-- NAVBAR DESKTOP -->

  <div class="navbar fixed-top navbar-light navbar-lewagon navbar-lewagon-desktop">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo-big-contrast.png" %>
    <% end %>

    <div class="navbarSearch" id="navbarSearchDesktop">
      <%= form_tag ({controller: controller_name, action: action_name}), method: :get, class: "search-form" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "e.g. #{ current_user.hobbies.empty? ? 'Game of thrones' : current_user.hobbies.split(", ").first.downcase.capitalize }"
        %>
        <%= button_tag(type: 'submit', class: "btn btn-default", id: "submit-search") do %>
          <i class="fas fa-search"></i>
        <% end %>
        <%= link_to ({controller: controller_name, action: action_name}), id: "clear-search" do %>
          <i class="fas fa-times"></i>
        <% end %>
      <% end %>
    </div>

    <div class="dropleft">
      <div class="navbar-profile-section" style="width: 153px">
        <button id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.photo.file.nil? %>
            <%= image_tag "avatar/#{User.last.birthdate.day}.svg", size: "48x48" %>
          <% else %>
            <%= cl_image_tag "#{current_user.photo}", size: "48x48", crop: :thumb, gravity: :face %>
          <% end %>
        </button>
        <div class="dropdown-menu" style="right: 55px; top: 5px">
          <%= link_to "Dashboard", dash_path, class: "nav-link" %>
          <%= link_to "Following", friends_path, class: "nav-link" %>
          <%= link_to "My Polls", manage_polls_path, class: "nav-link" %>
          <%= link_to "My Answers", answered_polls_path, class: "nav-link" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Edit Profile", user_registration_path, method: :patch, class: "nav-link" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </div>
      </div>
    </div>

  </div>

<!-- NAVBAR MOBILE -->

  <div class="navbar fixed-top navbar-light navbar-lewagon navbar-lewagon-mobile">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo-big-contrast.png" %>
    <% end %>

    <div class="navbar-toggles">

       <% if controller_name == 'polls' && searcheable_actions.include?(action_name) %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSearchMobile" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-search" style= "<%= 'color: #9FCDD0 !important' if params[:query].present? %>"></i>
        </button>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOption" aria-controls="navbarOption" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-poll" style= "<%= 'color: #9FCDD0 !important' if outer_actions.include?(action_name) %>"></i>
      </button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarProfile" aria-controls="navbarProfile" aria-expanded="false" aria-label="Toggle navigation">
        <% if current_user.photo.file.nil? %>
          <%= image_tag "avatar/#{User.last.birthdate.day}.svg", size: "32x32" %>
        <% else %>
          <%= cl_image_tag "#{current_user.photo}", size: "32x32", crop: :thumb, gravity: :face %>
        <% end %>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarProfile">
      <div class="navbar-cont">
        <ul class="navbar-nav mr-auto navbar-left">
          <li class="nav-item <%= 'active' if controller_name == 'profiles' && action_name == 'dash' %>">
            <%= link_to "Dashboard", dash_path, class: "nav-link" %>
          </li>
          <li style="color: white" class="nav-item <%= 'active' if ((controller_name == 'polls' && action_name == 'friend') || controller_name == 'friends') %>">
            <%= link_to "Following", friends_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto navbar-center">
          <li class="nav-item <%= 'active' if controller_name == 'polls' && action_name == 'manage' %>">
            <%= link_to "My Polls", manage_polls_path(query: params[:query]), class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if controller_name == 'polls' && action_name == 'answered' %>">
            <%= link_to "My Answers", answered_polls_path(query: params[:query]), class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto navbar-right">
          <li style="color: white" class="nav-item <%= 'active' if controller_name == 'polls' && action_name == 'new' %>">
            <%= link_to "New Poll", new_poll_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if controller_name == 'profiles' && action_name == 'filters' %>">
            <%= link_to "Filters", filters_path, class: "nav-link" %>
          </li>
          <!-- <li class="nav-item">
            <%#= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li> -->
        </ul>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarOption">
      <div class="navbar-cont">
        <ul class="navbar-nav mr-auto navbar-left">
          <li class="nav-item <%= 'active' if controller_name == 'polls' && action_name == 'index' %>">
            <%= link_to "Top", polls_path(query: params[:query]), class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if controller_name == 'polls' && action_name == 'loved' %>">
            <%= link_to "Loved", loved_polls_path(query: params[:query]), class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto navbar-center">
          <li class="nav-item <%= 'active' if controller_name == 'polls' && action_name == 'funny' %>">
            <%= link_to "Funny", funny_polls_path(query: params[:query]), class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if controller_name == 'polls' && action_name == 'interesting' %>">
            <%= link_to "Interesting", interesting_polls_path(query: params[:query]), class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto navbar-right">
          <li class="nav-item <%= 'active' if controller_name == 'polls' && action_name == 'sponsored' %>">
            <%= link_to "Sponsored", sponsored_polls_path(query: params[:query]), class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if controller_name == 'polls' && action_name == 'fresh' %>">
            <%= link_to "Fresh", fresh_polls_path(query: params[:query]), class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>

    <% if controller_name == 'polls' && searcheable_actions.include?(action_name) %>

      <div class="collapse navbar-collapse navbarSearch" id="navbarSearchMobile">
        <%= form_tag ({controller: controller_name, action: action_name}), method: :get, class: "search-form" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "e.g. #{ current_user.hobbies.empty? ? 'Game of thrones' : current_user.hobbies.split(", ").first.downcase.capitalize }"
          %>
          <%= link_to ({controller: controller_name, action: action_name}), id: "clear-search" do %>
            <i class="fas fa-times"></i>
          <% end %>
        <% end %>
      </div>

    <% end %>

  </div>
