<div class="container-fluid poll-list">
  <div class="row poll-list-row">

  <% @polls.each do |poll| %>

    <% sponsored = poll.qtype == 'sponsored' %>
    <% cat_color = poll.category.color %>

    <div class="poll-card col-xs-12 col-sm-6 col-md-4" style="color: <%= cat_color %> <%= '; filter: brightness(85%);' if poll.status == 'inactive' %>">

    <!-- FRONT OF CARD -->

      <div class="poll-card-front" id="poll-card-front-<%= poll.id %>" data-answered="<%= poll.answered?(current_user) %>">

        <% if poll.created_at > Time.now - 60 * 60 * 24  %>
          <div class="new-poll-alert">
            <i class="fas fa-certificate"></i>
            <i></i><span> New</span>
          </div>
        <% end %>

        <%= render 'shared/poll_components/dropleft', object: {poll: poll}  %>

        <%#= button_to result_poll_path(poll.id), remote: true, class: "answer-button" do %>
        <%= button_tag(type: "button", class: "answer-button", data: {poll: poll.id}) do %>

          <% frame_style = true ? "border-color: #{cat_color}; background-color: #{cat_color}; color: white" : "border-color: #{cat_color}" %> <!-- Replace true by 'sponsored' for open to have a dark background. -->

          <div class="poll-frame poll-frame-front" style="<%= frame_style %>" >

            <div class="poll-question">

              <div class="question-top">
                <div class="question-top-left">
                  <% image_type = true ? "category_white" : "category_color" %> <!-- Replace true by 'sponsored' for open to have a dark background. -->

                  <%= link_to ({controller: controller_name, action: action_name, query: poll.category.name}) do %>
                    <%= image_tag("#{image_type}/#{poll.category.icon}", title: "#{poll.category.name}", data: { toggle: "tooltip-bottom", placement: "bottom" }) %>
                  <% end %>
                  <p><strong><%= "#{poll.points}" %></strong> <%= "#{poll.points == 1 ? "ticket" : "tickets"}" %></p>
                </div>
                <div class="question-top-right">
                  <%= link_to ({controller: controller_name, action: action_name, query: "#{poll.user.first_name} #{poll.user.last_name}"}) do %>
                    <%= image_tag("#{poll.user.photo}", size: "36x36", class: "svg-icon", alt: "#{poll.user.first_name} #{poll.user.last_name}", title: "#{poll.user.first_name} #{poll.user.last_name}", data: { toggle: "tooltip-bottom", placement: "bottom" }) %>
                  <% end %>
                </div>
              </div>

              <div class="question-main">
                  <h4><%= poll.question %></h4>
              </div>

            </div>
          </div>

        <% end %>

        <div class="poll-bottom">
          <div class="poll-bottom-left">
            <p>
              <% if poll.qtype == "sponsored" %>
                <i class="fas fa-industry" title="Sponsored Poll" data-toggle="tooltip-all"></i>
              <% elsif poll.qtype == "closed" %>
                <i class="fas fa-lock" title="Closed Poll" data-toggle="tooltip-all"></i>
              <% else %>
                <i class="fas fa-lock-open" title="Open Poll" data-toggle="tooltip-all"></i>
              <% end %>

              <span title="Deadline" data-toggle="tooltip-all">
                <% if poll.deadline > Time.now %>
                  <%= poll.deadline.strftime("%d/%m") %>
                <% else %>
                  Closed
                <% end %>
              </span>
            </p>
          </div>

          <div class="poll-bottom-right">
            <p>
              <span title="Answers" data-toggle="tooltip-all">
                <i class="far fa-comment-alt"></i> <%= poll.count_answers %>
              </span>
              <span title="Upvotes" data-toggle="tooltip-all">
                <i class="far fa-thumbs-up"></i> <%= poll.t_likes %>
              </span>
            </p>
          </div>
        </div>
      </div>

    <!-- BACK OF CARD -->

      <div class="poll-card-back unflipped" id="poll-card-back-<%= poll.id %>">

        <%= render 'shared/poll_components/backarrow', object: {poll: poll}  %>
        <%= render 'shared/poll_components/dropleft', object: {poll: poll}  %>

        <%= form_tag({controller: "polls", action: "add_answer", id: poll.id}, class: "answer-form", remote: true) do %>

        <div class="poll-frame poll-frame-back" style="<%= "border-color: #{cat_color}; background-color: #{cat_color}; color: white;" %>" >

          <div class="poll-answer">

            <!-- <div class="answer-top">
              <h4><%#= poll.question %></h4>
            </div> -->

            <% poll_options = poll.options.map(&:capitalize) %>
            <% button_style = "border-color: white; background-color: #{cat_color};" %>

            <div class="answer-main">
              <% poll_options.each_with_index do |po, opt| %>
              <div class="answer-option">
                <input class="form-radio" type="radio" id="poll-id-<%= poll.id %>-<%= opt %>" name="poll-id-<%= poll.id %>" value="<%= opt %>" style="<%= button_style %>" data-poll="<%= poll.id %>">
                <label for="poll-id-<%= poll.id %>-<%= opt %>"><%= po.capitalize %></label>
                <br>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="answer-bottom hidden" id="answer-bottom-<%= poll.id %>">
          <div class="poll-bottom-left">
            <div class="checkbox-cont">
              <input type="checkbox" id="icon-love-<%= poll.id %>" name="icon-love-<%= poll.id %>">
              <label for="icon-love-<%= poll.id %>"><i class="fas fa-heart" title="Love" data-toggle="tooltip"></i></label>
            </div>

            <div class="checkbox-cont">
              <input type="checkbox" id="icon-funny-<%= poll.id %>" name="icon-funny-<%= poll.id %>">
              <label for="icon-funny-<%= poll.id %>"><i class="fas fa-grin-squint" title="Funny" data-toggle="tooltip"></i></label>
            </div>

            <div class="checkbox-cont">
              <input type="checkbox" id="icon-interesting-<%= poll.id %>" name="icon-interesting-<%= poll.id %>">
              <label for="icon-interesting-<%= poll.id %>"><i class="fas fa-graduation-cap" title="Interesting" data-toggle="tooltip"></i></label>
            </div>
          </div>

          <div class="poll-bottom-right">
            <input type="submit" value="Submit" class="btn btn-send" style="<%= "border-color: #{cat_color}; color: #{cat_color}" %>" data-poll="<%= poll.id %>" >
          </div>
        </div>

        <% end %>

      </div>

      <!-- STATS OF CARD -->

      <div class="poll-card-stats unflipped" id="poll-card-stats-<%= poll.id %>">

        <%= render 'shared/poll_components/backarrow', object: {poll: poll}  %>
        <%= render 'shared/poll_components/dropleft', object: {poll: poll}  %>

        <div id="chart-area-<%= poll.id %>">
          <%= render 'shared/poll_components/chart', object: {poll_id: poll.id} %>
        </div>

      </div>

    </div>

  <% end %>

  <div class="filling-empty-space-childs-polls"></div>
  <div class="filling-empty-space-childs-polls"></div>

  </div>
</div>
