<% poll = @poll %>
<% cat_color = Category.find(@poll.category_id).color %>

<div class="show-row row">

  <div class="show-comp col-12 col-md-6">
    <h3>Results</h3>
    <canvas id="biResultsChart" class="show-chart <%= 'show-chart-pie' if poll.options.count <= 3 %>"></canvas>

    <!-- CHART -->
      <% poll_options = poll.options.map { |option| option.length > 15 ? "    #{option[0,15].sub(/\S/, &:upcase)}.." : "    #{option.sub(/\S/, &:upcase)}" } %>
      <% poll_options.each{ |po| po.strip } if poll.options.count <= 3 %>

      <% bar_colors = Array.new(poll.options.length, 'rgba(141,179,181,0.4)') %>
      <% bar_line_colors = Array.new(poll.options.length, 'rgba(141,179,181,0.8)') %>

      <% if poll.options.count > 3 %>

        <!-- Bar Chart -->
          <script>
            Chart.defaults.global.defaultFontColor = 'rgba(150,150,150,0.6)';
            Chart.defaults.global.defaultFontFamily = 'Quicksand', "Helvetica", "sans-serif";
            Chart.defaults.global.defaultFontSize = 11;

            var ctx = document.getElementById(`biResultsChart`).getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: <%= poll_options.to_json.html_safe %>,
                    fillOpacity: .8,
                    datasets: [{
                        label: '',
                        data: <%= poll.results.values.to_json.html_safe %>,
                        backgroundColor: <%= bar_colors.to_json.html_safe %>,
                        borderColor: <%= bar_line_colors.to_json.html_safe %>,
                        borderWidth: 1
                    }]
                },
                animation:{
                  duration: 1
                },
                options: {
                  legend: {
                    display: false
                  },
                  responsive: true,
                  maintainAspectRatio: false,
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true,
                              min: 0, // it is for ignoring negative step.
                              callback: function(value, index, values) {
                                  if (Math.floor(value) === value) {
                                      return value;
                                  }
                              }
                          },
                          gridLines: {
                              display:false,
                              color: 'rgba(150,150,150,0.6)'
                          }
                      }],
                      xAxes: [{
                          ticks: {
                              maxRotation: 45,
                              minRotation: 45
                          },
                          gridLines: {
                              display:false,
                              color: 'rgba(150,150,150,0.6)'
                          },
                      }]
                  }
                }
            });
          </script>
        <!--  -->

        <% else %>

        <!-- Pie Chart -->
          <script>
            Chart.defaults.global.defaultFontColor = 'rgba(150,150,150,0.6)';
            Chart.defaults.global.defaultFontFamily = 'Quicksand', "Helvetica", "sans-serif";
            Chart.defaults.global.defaultFontSize = 11;

            var ctx = document.getElementById(`biResultsChart`).getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: <%= poll_options.to_json.html_safe %>,
                    datasets: [{
                        label: '',
                        data: <%= poll.results.values.to_json.html_safe %>,
                        backgroundColor: <%= ['rgba(141,179,181,0.9)', 'rgba(141,179,181,0.6)', 'rgba(141,179,181,0.3)'].take(poll.options.length).to_json.html_safe %> ,
                        borderColor: 'rgba(255,255,255,1)',
                        borderWidth: 2
                    }]
                },
                animation:{
                  duration: 1
                },
                options: {
                  legend: {
                    position: 'bottom',
                    labels: {
                      boxWidth: 10,
                    }
                  },
                  responsive: true,
                  maintainAspectRatio: false
                }
            });
          </script>
        <!--  -->
        <% end %>
    <!-- ----- -->

  </div>

  <div class="show-comp col-12 col-md-6">

    <h3>Answers: <%= poll.count_answers %></h3>
    <canvas id="biAnswersChart" class="show-chart"></canvas>

    <!-- CHART -->
      <% result_hash = poll.answers_evo %>

      <script>
        Chart.defaults.global.defaultFontColor = 'rgba(183,183,183,0.6)';
        Chart.defaults.global.defaultFontFamily = 'Quicksand', "Helvetica", "sans-serif";
        Chart.defaults.global.defaultFontSize = 11;

        var ctx = document.getElementById(`biAnswersChart`).getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: <%= result_hash.keys.to_json.html_safe %>,
                fillOpacity: .8,
                datasets: [{
                    label: '',
                    data: <%= result_hash.values.to_json.html_safe %>,
                    backgroundColor: 'rgba(141,179,181,0.4)',
                    borderColor: 'rgba(141,179,181,0.8)',
                    borderWidth: 2
                }]
            },
            animation:{
              duration: 1
            },
            options: {
              legend: {
                display: false
              },
              elements: {
                point:{
                    radius: 0
                }
              },
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                          min: 0, // it is for ignoring negative step.
                          callback: function(value, index, values) {
                              if (Math.floor(value) === value) {
                                  return value;
                              }
                          }
                      },
                      gridLines: {
                          display:false,
                          color: 'rgba(141,179,181,0.6)'
                      }
                  }],
                  xAxes: [{
                      ticks: {
                          maxRotation: 60,
                          minRotation: 60
                      },
                      gridLines: {
                          display: false,
                          color: 'rgba(141,179,181,0.6)'
                      },
                  }]
              }
            }
        });
      </script>
    <!-- ----- -->

  </div>

  <div class="show-comp col-12 col-md-6">
    <h3>Likes: <%= poll.t_likes %></h3>
    <canvas id="biLikeEvoChart" class="show-chart"></canvas>

    <!-- CHART -->
      <% dates_arr = poll.like_evo[:dates] %>
      <% loved_arr = poll.like_evo[:loved] %>
      <% funny_arr = poll.like_evo[:funny] %>
      <% interesting_arr = poll.like_evo[:interesting] %>

      <script>
        Chart.defaults.global.defaultFontColor = 'rgba(141,179,181,0.6)';
        Chart.defaults.global.defaultFontFamily = 'Quicksand', "Helvetica", "sans-serif";
        Chart.defaults.global.defaultFontSize = 11;

        var ctx = document.getElementById(`biLikeEvoChart`).getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: <%= dates_arr.to_json.html_safe %>,
                fillOpacity: .8,
                datasets: [{
                    label: 'Loved',
                    fill: false,
                    backgroundColor: 'rgba(181,141,175,0.6)',
                    borderColor: 'rgba(181,141,175,0.6)',
                    borderWidth: 2,
                    data: <%= loved_arr.to_json.html_safe %>
                },
                {
                    label: 'Funny',
                    fill: false,
                    backgroundColor: 'rgba(181,160,141,0.6)',
                    borderColor: 'rgba(181,160,141,0.6)',
                    borderWidth: 2,
                    data: <%= funny_arr.to_json.html_safe %>
                },
                {
                    label: 'Interesting',
                    fill: false,
                    backgroundColor: 'rgba(141,158,181,0.6)',
                    borderColor: 'rgba(141,158,181,0.6)',
                    borderWidth: 2,
                    data: <%= interesting_arr.to_json.html_safe %>
                }]
            },
            animation:{
              duration: 1
            },
            options: {
              elements: {
                point:{
                    radius: 0
                }
              },
              legend: {
                position: 'bottom',
                labels: {
                  boxWidth: 10,
                }
              },
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                          suggestedMax: 1,
                          callback: function(value, index, values) {
                              if (Math.floor(value) === value) {
                                  return value;
                              }
                          }
                      },
                      gridLines: {
                          display:false,
                          color: 'rgba(141,179,181,0.6)'
                      }
                  }],
                  xAxes: [{
                      ticks: {
                          maxRotation: 60,
                          minRotation: 60
                      },
                      gridLines: {
                          display: false,
                          color: 'rgba(141,179,181,0.6)'
                      },
                  }]
              }
            }
        });
      </script>
    <!-- ----- -->

  </div>

  <div class="show-comp col-12 col-md-6">
    <h3>Likes Breakdown</h3>
    <canvas id="biLikesChart" class="show-chart show-chart-pie"></canvas>

    <!-- CHART -->

      <% result_data = [poll.t_love, poll.t_funny, poll.t_interest] %>
      <% label_data = ['Loved', 'Funny', 'Interesting'] %>

      <script>
        Chart.defaults.global.defaultFontColor = 'rgba(150,150,150,0.6)';
        Chart.defaults.global.defaultFontFamily = 'Quicksand', "Helvetica", "sans-serif";
        Chart.defaults.global.defaultFontSize = 11;

        var ctx = document.getElementById(`biLikesChart`).getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: <%= label_data.to_json.html_safe %>,
                datasets: [{
                    label: '',
                    data: <%= result_data.to_json.html_safe %>,
                    backgroundColor: <%= ['rgba(181,141,175,0.4)', 'rgba(181,160,141,0.4)', 'rgba(141,158,181,0.4)'].to_json.html_safe %> ,
                    borderColor: <%= 'rgba(255,255,255,1)'.to_json.html_safe %>,
                    borderWidth: 2
                }]
            },
            animation:{
              duration: 1
            },
            options: {
              legend: {
                position: 'bottom',
                labels: {
                  boxWidth: 10,
                }
              },
              responsive: true,
              maintainAspectRatio: false
            }
        });
      </script>
    <!-- ---- -->

  </div>

</div>
