<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PollGod</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'logo.ico' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>
  <body>
    <%= javascript_pack_tag 'chart' %>
    <%= render 'shared/navbar' if controller_name == "polls" || controller_name == "friends" || controller_name == "profiles" || (controller_name == "registrations" && (action_name == "edit" || action_name == "update")) %>
    <%= render 'shared/flashes' %>
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= render 'shared/navigator' if controller_name == "polls" || controller_name == "friends" || controller_name == "profiles" || (controller_name == "registrations" && (action_name == "edit" || action_name == "update")) %>
    <%= render 'shared/footer' if controller_name == "polls" || controller_name == "profiles" || controller_name == "pages" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
